{% extends 'base_login.html' %}

{% block header %}
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">価格比較リスト</h1>
    <p class="lead">一覧ページ</p>
  </div>
</div>
{% endblock header %}

{% block content %}

<div class="container">
    <!-
    各種urlへ　のちに追加
    {% url 'create' %}
    {% url 'update' item.pk %}
    {% url 'delete' item.pk %}
    {% url 'detail' item.pk %}
    ->

    <a href="" class="btn btn-secondary mb-3" tabindex="-1" role="button" aria-disabled="true">新規作成</a>
    <p>{{ item.author}} == {{ user.username }}</p>

    {% for object in object_list %}
        <p>{{ item.title }}</p>
        <p>Amazonでの価格：{{ object.price_ama }}||
           楽天での価格：{{ object.price_raku }}</p>
        <p>最終更新：{{ object.last_date | date:"o/m/d" }}</p>

        <a href="" class="btn btn-info" tabindex="-1" role="button" aria-disabled="true">編集</a>
        <a href="" class="btn btn-success" tabindex="-1" role="button" aria-disabled="true">削除</a>
        <a href="" class="btn btn-dark" tabindex="-1" role="button" aria-disabled="true">詳細</a>
    {% endfor %}
    <a href="{% url 'logout' %}">ログアウト</a>
</div>

{% endblock content %}